<!DOCTYPE html>
<!--importamos el xmlns:th para manejo de los thymeleaf-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Añadir Vehiculo</title>
    <meta name="author" content="Henry Cardenas">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
</head>
<body>
<div class="container mt-5">

    <h1 th:text="${titulo}"></h1>
    <div class="container mt-5">
        <form th:objetc="${vehiculo}" th:action="@{/addVehiculo}" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="marca">Marca</label>
                    <input type="text" class="form-control" field="*{marcaVehiculo}" name="marcaVehiculo"
                           placeholder="Ingrese la marca del vehiculo" id="marca">
                </div>
                <div class="form-group col-md-6">
                    <label for="modelo">Modelo</label>
                    <input type="text" class="form-control" id="modelo" placeholder="Ingrese el modelo del vehiculo"
                           field="*{modeloVehiculo}"
                           name="modeloVehiculo">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="placa">Placa</label>
                    <input type="text" class="form-control" field="*{placaVehiculo}" name="placaVehiculo"
                           placeholder="Ingrese el numero de la placa" id="placa">
                </div>
                <div class="form-group col-md-6">
                    <label for="color">Color del vehiculo</label>
                    <input type="color" class="form-control" id="color" placeholder="Ingrese el color del vehiculo"
                           field="*{colorVehiculo}"
                           name="colorVehiculo">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Agregar Vehiculo</button>
    </form>
</div>

</div>


</body>
</html>